.pollheadline {
  padding: 10px;
  background-color: ghostwhite;
  border-radius: 15px;
}

.welcome {
  display: inline-block;
  text-align: left;
  padding: 10px;
  font-size: 20px;
  width: 45%;
}

.title {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

.description {
  font-style: italic;
  font-size: 20px;
  padding: 10px;
}

.pollparams {
  border: #4267B2 1px;
  float: left;
  font-size: small;
}

.sortoptions {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

.optiontextall {
  padding: 25px 10px 5px;
  border-radius: 10px;
}

.optiontext {
  cursor: pointer;
  color: black;
}

.optiontextliked {
  cursor: pointer;
  color: #4267B2;
}

.optiontextdone {
  cursor: default;
  color: black;
}

.optiontext:hover {
  color: #e95419;
}

.optionauthor {
  padding-left: 5px;
  padding-top: 5px;
  font-size: 15px;
  padding-bottom: 10px;
}

.singlebestoption {
  margin-top: 5px;
  background-color: #dfdfff;
}

.multibestoption {
  margin-top: 5px;
  background-color: #f1f1ff;
}

.addoption {
  padding-top: 20px;
  width: 80%;
}
