<div>
  <div class="header">
    <a href="https://gitlab.com/christianpflugradt/motivote" target="_blank" class="header-left">
      {{'Motivote ' + clientVersion()}}</a><br><span class="subtitle">a web client for Pollywog</span>
    <span class="header-center">🐸</span>
    <a href="https://gitlab.com/christianpflugradt/pollywog" target="_blank" class="header-right">
      using Pollywog {{backendVersion}}</a>
  </div>
  <!--<div class="separator">.</div>-->

  <div *ngIf="!authorized" class="nocontent">
    <div>get invited to participate in a poll</div>
  </div>

  <div *ngIf="authorized" class="content">
    <div class="pollheadline">
      <div class="welcome">Welcome, {{username}}!</div>
      <app-countdown [deadline]="deadline" [open]="open"></app-countdown>
      <div class="title">{{title}}</div>
      <div class="description">{{description}}</div>
    </div>
    <div *ngIf=open class="pollparams">
      {{optionsUsed()}} / {{optionLimit}} options used, {{votesUsed()}} / {{voteLimit}} votes used
    </div>
    <div class="sortoptions">
      <mat-button-toggle-group value="1">
        <mat-button-toggle value="1" (change)="sortOptions($event.value)">
          <mat-icon matTooltip="oldest first">calendar_today</mat-icon>&uarr;
        </mat-button-toggle>
        <mat-button-toggle value="2" (change)="sortOptions($event.value)">
          <mat-icon matTooltip="newest first">calendar_today</mat-icon>&darr;
        </mat-button-toggle>
        <mat-button-toggle value="3" (change)="sortOptions($event.value)">
          <mat-icon matTooltip="most liked first">favorite</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="4" (change)="sortOptions($event.value)">
          <mat-icon matTooltip="A-Z">sort_by_alpha</mat-icon>&uarr;
        </mat-button-toggle>
        <mat-button-toggle value="5" (change)="sortOptions($event.value)">
          <mat-icon matTooltip="Z-A">sort_by_alpha</mat-icon>&darr;
        </mat-button-toggle>
        <mat-button-toggle value="6" (change)="sortOptions($event.value)">
          <mat-icon matTooltip="by users">face</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div *ngFor="let option of sortedOptions()">
      <div [ngClass]="optionClass(option)" (click)="clickOption(option)">
        <span>{{option.text}}</span>
        <mat-icon matBadgePosition="above after" matBadge="{{option.likes}}" matBadgeOverlap="false">
          {{optionIcon(option)}}
        </mat-icon>
      </div>
      <div class="optionauthor">
        <span class="optionauthor">by {{option.author}}</span>
        <mat-icon *ngIf="option.owned && open" (click)="clickDelete(option)">delete_forever</mat-icon>
      </div>
      <mat-progress-bar mode="determinate" value="{{progress(option)}}"></mat-progress-bar>
    </div>
    <mat-form-field *ngIf="open && !optionLimitReached()" class="addoption">
      <mat-label>add option</mat-label>
      <input matInput placeholder="your option" (keyup.enter)="submitOption()" [(ngModel)]="addOptionValue">
    </mat-form-field>
    <mat-icon *ngIf="addOptionValue !== '' && open" (click)="submitOption()">send</mat-icon>
  </div>

  <div class="footer">
    <a href="https://gitlab.com/christianpflugradt" target="_blank">Copyright © 2020 Christian Pflugradt</a>
  </div>
</div>
