.pollheadline {
  padding: 10px;
  border: #4267B2 dotted;
  border-radius: 15px;
}

.welcome {
  display: inline-block;
  text-align: left;
  padding: 10px;
  font-size: 20px;
  width: 45%;
}

.title {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

.description {
  font-style: italic;
  font-size: 20px;
  padding: 10px;
}

.optiontext {
  padding-top: 40px;
  cursor: pointer;
  color: black;
}

.optiontextliked {
  padding-top: 40px;
  cursor: pointer;
  color: #4267B2;
}

.optiontextdone {
  padding-top: 40px;
  color: black;
}

.optiontext:hover {
  color: #e95419;
}

.optionauthor {
  padding-top: 5px;
  font-size: 15px;
  padding-bottom: 10px;
}

.mat-icon {
  cursor: pointer;
}

.addoption {
  padding-top: 20px;
  width: 80%;
}
